.flatpickr-calendar.open {
    z-index: 9
}

header .navbar.fixed-top {
    z-index: 99
}

.search-section-II {
    z-index: 9
}

.select2-dropdown {
    z-index: 9
}

.section-4 .arrow,
.section-6 .arrow,
.section-23 .arrow,
.section-24 .arrow {
    z-index: 9
}

.select2-container--bootstrap-5 .select2-dropdown {
    z-index: 9
}

.select2-results__option {
    padding: 6px 5px 6px 15px
}

.section-2 {
    z-index: 1
}

.navbar {
    z-index: 99
}

@media (max-width:1200px) {
    .search-section-II {
        z-index: unset
    }

    .search-section-II .modal {
        z-index: 9999
    }

    .section-1:after {
        z-index: unset
    }

    .search-section-II .repeat-section:nth-child(4) .search-item label,
    .search-section-II .repeat-section .search-item label {
        z-index: 1
    }

    header .navbar {
        z-index: 99
    }

    header .navbar.fixed-top {
        z-index: 999
    }

    .search-section-II .modal .flatpickr-calendar.open {
        z-index: 9999
    }

    .flatpickr-calendar.open {
        z-index: 9
    }

}

.visibility-hidden {
    display: none;
}

h4.section-hotel.flatpickr-input {
    padding: 40px 0px 25px 18px;
}

.sold-out {
    background: #f21010;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 5px 2px;
    width: 91px;
    border-radius: 6px;
}

.hide{
    display: none;
}


.badge-left{
    position: absolute;
    color: #fff;
    background: #ff541e;
    padding: 10px;
    z-index: 1;
    border-radius: 5px 0px 5px 0px;
    font-size: 14px;
}
